html {
    background-color: black;
}

body {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: darkslategray;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 300px;
}

.nav-logo img {
    border: solid white 2px;
    border-radius: 40px;
    width: 200px;
    margin-right: auto;
    padding: 7px;
}

.header-links {
    display: flex;
    margin-left: auto;
    padding: 20px;
}

.header-links a {
    text-decoration: none;
    padding: 5px;
    color: aliceblue;
}



.img {
    border: solid whitesmoke 2px;
    border-radius: 30px;
    width: 140px;
    height: 140px;
}


a {
    display: flex;
    flex-direction: column;
    max-width: 140px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    
}

.box img {
    background-color: darkgrey;
}
    
.text{
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    max-width: 120px;
} 

.hero {
    display: flex;
    border: solid white 2px;
    border-radius: 100px;
    padding: 40px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 800px;
    align-items: center;
}
.main-img {
    display: flex;
    width: 400px;
    height: auto;
    border: solid white 2px;
    border-radius: 70px;
}

.left-hero {
    display:  flex;
    flex-direction: column;
    justify-content: center;

}

.welcome {
    color: white;
}

.left-hero p {
    color: lightcyan;
}
  
.hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    display: flex;
    padding: 80px;
    border-radius: 20px;
    flex-wrap: wrap;
    background-color: darkgrey;
}

.random {
    display: flex;
    justify-content: center;
}


.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    
}

.banner-text {
    font-size: larger;
    
    font-style: italic;
}

.banner-sig {
    display: flex;
    margin-left: auto;
    text-align: right;
    font-weight: 800;
}

.footer-wrapper {
    display: flex;
    flex: 1;
    margin: 0 auto;
}


.signup {
    color: aliceblue;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    border: solid whitesmoke 2px;
    border-radius: 10px;
    background-color: blue;
    margin: 20px;
    height: 60px;
    padding: 7px;
}

.action {
    display: flex;
    padding: 2px;
    font-size: 16pt;
}

.signuptext {
    display: flex;
    padding: 2px;
    font-size: 10pt;
}

.sign-up {
    width: 80px;
    height: 30px ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}