body {
    margin-inline: 100px;
    background-color: darkcyan;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

img {   
    height: auto; 
    padding: 1px;
}

.Logo {
    display: flex;
    width: 177px;
    height: 100px;
    border: 2px solid white;
}
.Menu {
    display: flex;
    align-items: flex-end;
    color: whitesmoke;
}

.Link-One {
    padding-inline: 10px;
}

.Link-Two {
    padding-inline: 10px;
}

.Link-Three {
    padding-inline: 10px;
}

ul {
    gap: 35px;
    list-style: none;
}

a {
    text-decoration: none;
    color: whitesmoke;
    
}

h1 {
    color: white;
}

.hero-text {
    display: flex;
    width: 300px;
}

.hero-img {
    display: flex;
    width: 500px;
}